# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl
*.db

# Django specific
*.log
*.pot
*.pyc

media/
staticfiles/          # where `collectstatic` puts files
.env
.env.*                # other environment-specific env files
local_settings.py

# VSCode
.vscode/
.code-workspace

# macOS
.DS_Store

# Environments
venv/
env/
ENV/
.venv/
.idea/
.Python
pip-log.txt

# mypy & pylint
.mypy_cache/
.pyre/
.pytype/
.pylint.d/

# Pytest & coverage
htmlcov/
.tox/
.coverage
coverage.xml
.cache/
nosetests.xml
test.db
junit.xml

# Docker
*.pid
docker-compose.override.yml

# Node (if using for frontend or static build tools)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
dist/
build/
.next/
out/

# System
Thumbs.db
ehthumbs.db
